* {
  margin: 0;
  padding: 0;
  color: azure;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}
html,
body {
  height: 100%;
  width: 100%;
background-color: black;
}
h1{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-decoration: underline;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(111, 90, 160);
}
.nav div{
  display: flex;
  align-items: center;
  gap:40px
}